/.idea
/.vscode
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/mysql-data/
/vendor
/tools/**/vendor
Homestead.yaml
Homestead.json
.env
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
reports/*
!reports/.gitkeep
composer.lock
npm-debug.log
yarn-error.log
